.page-title{
    margin: 1em 0em;
}

.grid-2{
    display: flex;
    flex-wrap: wrap;
    margin: 2em 0em 0em 0em;
}

.pages{
    margin: 3em 0em;
    text-align: center;
}

.page{
    background-color: rgb(42, 135, 241);
    padding: 0.3em;
    margin: 0em 0.3em;
    text-decoration: none;
    color: #eee;
    border: 1px solid rgb(38, 117, 207);
    border-radius: 3px;
}

.desc-sect{
    flex: 1 1 75%;
    padding-top: 1em;
}

.search{
    flex: 1 1 25%;
    margin: 0.5em 0em 3em 0em;
}

.buscar{
    margin-right: 1em;
}

.btnGuardar{
    margin-left: 1em;
}

.buttons{
    display: flex;
}

.no-data{
    text-align: center;
    margin: 3em 0em;
}

.descripcion{
    position: absolute;

}

.form{
    padding: 2em;
    margin: 5% auto 0 auto;
    max-width: 500px;
    border: 2px solid #00ADB5;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.data{
    margin: 1em 2em;
}

textarea{
    margin-left: 6em;
}

td{
    text-align: center;
    width: 100px;
}

td > .pharm-dsc{
    width: 150ch;
    height: auto;
    text-align: left;
}