.site-section {
    padding: 2.5em 0;
}
@media (min-width: 768px) {
    .site-section {
        padding: 5em 0; 
    } 
}
    
.site-section.site-section-sm {
    padding: 4em 0; 
}
  
.site-section-heading {
    padding-bottom: 20px;
    margin-bottom: 0px;
    position: relative;
    font-size: 2.5rem; 
}

@media (min-width: 768px) {
    .site-section-heading {
    font-size: 3rem; } }

.ftco-subscribe-1 {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative; 
}
.ftco-subscribe-1:before {
    position: absolute;
    content: "";
    background: #00ADB5;
    opacity: .7;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
}

.ftco-subscribe-1 > .container {
    position: relative;
    z-index: 2; 
}

.ftco-subscribe-1 > .container h2, .ftco-subscribe-1 > .container p {
    color: #fff; 
}
    
.ftco-subscribe-1 .form-control {
    height: auto !important; 
}

.form-group{
    margin-top: 40px;
}

.custom-breadcrumns {
    padding: 20px 0;
}

.custom-breadcrumns span, .custom-breadcrumns a {
    font-size: 14px; 
}

.custom-breadcrumns a {
    display: inline-block;
    color: #bdbdbd;
    text-decoration: none;
}
    
.custom-breadcrumns a:hover {
    color: #00ADB5; 
}
    
.custom-breadcrumns .current {
    color: #00ADB5; 
}

.btn-primary{
    margin: 20px 0 80px 0;
}